html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 1200px;
    height: 800px;
}

#sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
}

#voronoiCanvas {
    position: fixed;
    left: 400px;
    top: 0px;
}

canvas {
    width: 800px;
    height: 800px;
    margin: 0;
    padding: 0;
    background: url('../assets/TeleVorlageVoronoi.png');
    background-size: contain;
}

#backgroundImage {
    background: url('../assets/TeleVorlageVoronoi.png');
    background-size: contain;
    background-repeat: no-repeat;
}